script.
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (() => {
    btf.getScript('//embed.tawk.to/!{theme.tawk.embed_id}/!{theme.tawk.id}').then(() => {
      const isChatBtn = !{theme.chat.rightside_button}
      const isChatHideShow = !{theme.chat.button_hide_show}

      if (isChatBtn) {
        const open = () => {
          window.Tawk_API.onLoad = function(){
            window.Tawk_API.toggleVisibility();
            if(window.Tawk_API.isChatMinimized()){
              window.Tawk_API.toggle();
            }
          };
        }

        const close = () => {
          window.Tawk_API.onLoad = function(){
            window.Tawk_API.toggleVisibility();
            window.Tawk_API.hideWidget();
          };
        }

        close()

        window.chatBtnFn = () => window.Tawk_API.toggleVisibility() ? close() : open()

        document.getElementById('chat-btn').style.display = 'block'
      } else if (isChatHideShow) {
        window.chatBtn = {
          hide: () => window.Tawk_API.toggleVisibility(),
          show: () => window.Tawk_API.toggleVisibility()
        };
      }
    })
  })()